.map-cell {
    width: 10px;
    height: 10px;
}

.cell-dead {
    background-color: ghostwhite
}

.cell-alive {
    background-color: chartreuse
}

    .cell-alive.old {
        background-color: #19da19
    }

    .cell-alive.so-old {
        background-color: #078407
    }
