@{
    ViewBag.Title = "title";

}



<script src="~/Scripts/jquery-3.3.1.js"></script>

<link href="~/Content/Arena/Arena.css" rel="stylesheet" />

<h2>Welcome to <h2 class="arena-title">ARENA</h2></h2>

<style>

    .star-ship {
        width: 0px;
        height: 0px;
    }

    .star-ship img {
        width: 50px;
        height: 50px;
    }

    .starships-arena {
        width: 500px;
        height: 500px;
        background-color: black;
    }
</style>

<div>
    <h2 id="userNameDiscription">Enter your name:</h2>
    <input id="userNameInput" type="text" size="40">
    <input id="userNameLogin" type="submit" value="Let's Go!">
    <input id="userNameLogout" type="submit" style="visibility: hidden" value="Logout!">
</div>



@*position: absolute;
    left: 100px;
    top: 150px;*@

<div class="starships-arena">
    @*<div class="star-ship">
            <img src="~/Content/Arena/Images/Arasari Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Butterfly Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Flamingo Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Piranha Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Skat Star Ship.png" />
        </div>*@
</div>

<div id="users"></div>
<div id="keyState"></div>
<div class="keystate-right"></div>
<div class="keystate-left"></div>
<div class="keystate-up"></div>
<div class="keystate-down"></div>

<script src="~/Scripts/Arena/GameController.js"></script>

<script>
    //    transform: rotate(-195deg);
    var angle = 0;

    $("#userNameLogin").click(function () {
        debugger;

        var input = $("#userNameInput")[0];

        if (input.value !== "") {
            window.gameController.addUser(input.value);
            //visibility: hidden

            $("#userNameDiscription").css("visibility", "hidden");
            $("#userNameInput").css("visibility", "hidden");
            $("#userNameLogin").css("visibility", "hidden");
            $("#userNameLogout").css("visibility", "visible");
        }
    });

    $("#userNameLogout").click(function () {
        debugger;

        gameController.clearUser();

        $("#userNameDiscription").css("visibility", "visible");
        $("#userNameInput").css("visibility", "visible");
        $("#userNameLogin").css("visibility", "visible");
        $("#userNameLogout").css("visibility", "hidden");
    });

    var user = JSON.parse(localStorage.getItem('user'));

    if (user !== null) {
        window.gameController.user = user;
    }


    //function AddUser(name) {
    //    var result = "";

    //    $.ajax({
    //        type: "POST",
    //        url: '/Arena/AddUser',
    //        async: false,
    //        data: "{'name':'" + name + "'}",
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (data, status) {
    //            //debugger;
    //            result = data;
    //        },
    //        error: function (e) {
    //            //debugger;
    //            result = e.responseText;
    //        }
    //    });

    //    return result;
    //}






    window.setInterval(function () {
        $("#starships-image").css('transform', 'rotate(-' + angle + 'deg)');
        angle++;
    }, 500);



    Window.userId = "empty";





    //tupKeyListener();
    //window.gameController.addUser("new user ak");

    window.gameController.init();



    //window.setInterval(function () {
    //    window.gameController.getUsers();
    //}, 500);

    //debugger;
    //var userId = gameController.addUser("new test user");

    //$('.starships-arena').bind('keypress', function (e) {
    //    debugger;
    //    if(e.keyCode === 13){
    //        // Enter pressed... do anything here...
    //    }
    //});




</script>