@{
    ViewBag.Title = "title";

}

<link href="~/Content/Arena/Arena.css" rel="stylesheet" />

<h2>Welcome to <h2 class="arena-title">ARENA</h2></h2>

<style>

    .piranha-star-ship {
        width: 20px;
        height: 20px;
        background-color: aqua;
        background-image: url('~/Content/Arena/Images/Arasari Star Ship [without background].png');
    }

    #starships {
        width: 500px;
        height: 500px;
        background-color: black;
    }
</style>

<div id="starships">
    <div class="piranha-star-ship">
        <img src="~/Content/Arena/Images/Arasari Star Ship [without background].png" />
    </div>

</div>

<script>





</script>