@{
    ViewBag.Title = "title";

}



<script src="~/Scripts/jquery-3.3.1.js"></script>

<link href="~/Content/Arena/Arena.css" rel="stylesheet" />

<h2>Welcome to <h2 class="arena-title">ARENA</h2></h2>

<style>

    .star-ship {
        width: 0px;
        height: 0px;
    }

    .star-ship img {
        width: 50px;
        height: 50px;
    }

    .bullet {
        width: 0px;
        height: 0px;
    }

        .bullet img {
            width: 5px;
            height: 20px;
        }

    .starships-arena {
        width: 500px;
        height: 500px;
        background-color: black;
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }
</style>

<div>
    <h2 id="userNameDiscription">Enter your name:</h2>
    <input id="userNameInput" type="text" size="40">
    <input id="userNameLogin" type="submit" value="Let's Go!">
    <input id="userNameLogout" type="submit" style="visibility: hidden" value="Logout!">
</div>



@*position: absolute;
    left: 100px;
    top: 150px;*@

<div class="starships-arena noselect">
    @*<div class="star-ship">
            <img src="~/Content/Arena/Images/Arasari Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Butterfly Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Flamingo Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Piranha Star Ship.png" />
        </div>
        <div class="star-ship">
            <img src="~/Content/Arena/Images/Skat Star Ship.png" />
        </div>*@
</div>
<div id="mouse-position"></div>
<div id="user-angle"></div>
<div id="users"></div>
<div id="keyState"></div>
<div class="keystate-right"></div>
<div class="keystate-left"></div>
<div class="keystate-up"></div>
<div class="keystate-down"></div>
<div class="keystate-mouse"></div>

<script src="~/Scripts/Arena/GameController.js"></script>

<script>




    window.gameController.init();

</script>