

<style>

    body {
        background-image: url(../../Content/Arena/Images/Background.jpg);
    }



</style>

<div class="title-container">
    <div class="sub-main-title">
    </div>
    <div class="main-title">
    </div>
</div>
